* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$first-color: #133457;
$second-color: #07305D;


body {
    background-image: url("/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.layout {
    max-width: 1440px;
    display: block;
    margin: auto;
}
